<div class="dialog-box">
  <form>
    <input [ngClass]="{'new-ticket-mode': newTicket}" autocomplete="off" type="text" id="ticket-title"
      placeholder="Ticket Title" />
    <input [ngClass]="{'new-ticket-mode': newTicket}" autocomplete="off" type="text" id="ticket-subtitle"
      placeholder="Subtitle or subcategory of the ticket" />

    <div class="description-box">
      <p>Description</p>
      <textarea placeholder="Write some description about this ticket" type="text" id="ticket-desc"></textarea>
    </div>

    <div class="other-options">
      <div class="ticket-assigned">
        <p>Assigned Users</p>
        <img src="assets/ticket/add-new.svg" />
      </div>
      <div class="ticket-due-date">
        <p>Due Date</p>
        <img src="assets/ticket/add-new.svg" />
      </div>
    </div>

    <div class="ticket-buttons">
      <button (click)="close()">Close</button>
      <button *ngIf="newTicket" (click)="addTicket()">Add Ticket</button>
    </div>
  </form>
</div>
