<div class="dialog-box" [ngStyle]="{ 'background-color': selectedColor }">
    <form [formGroup]="ticketForm">
        <input
            formControlName="title"
            [ngClass]="{ 'new-ticket-mode': newTicket }"
            autocomplete="off"
            type="text"
            id="ticket-title"
            placeholder="Ticket Title"
            value="{{ ticket?.title }}"
        />
        <input
            formControlName="subtitle"
            [ngClass]="{ 'new-ticket-mode': newTicket }"
            autocomplete="off"
            type="text"
            id="ticket-subtitle"
            placeholder="Subtitle or subcategory of the ticket"
            value="{{ ticket?.subtitle }}"
        />

        <div class="description-box">
            <p>Description</p>
            <textarea
                formControlName="description"
                placeholder="Write some description about this ticket"
                type="text"
                id="ticket-desc"
                value="{{ ticket?.description }}"
            ></textarea>
        </div>

        <div *ngIf="!this.ticket" class="color-selection">
            <mat-form-field>
                <mat-label>Color</mat-label>
                <mat-select [(value)]="selectedColor">
                    <mat-option *ngFor="let color of colors" [value]="color.value" [ngStyle]="{ 'background-color': color.value }">
                        {{ color.text }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="other-options">
            <div *ngIf="!ticket?.assigned_to && !assignedUserName && newTicket" class="ticket-assigned" (click)="assignUser()">
                <p>Assign User</p>
                <img src="assets/ticket/add-new.svg" />
            </div>
            <div *ngIf="ticket?.assigned_to || assignedUserName" class="ticket-assigned">
                <p>Assigned User</p>
                <div class="a-user">
                    <img src="assets/ticket/user.svg" />
                    <p>{{ assignedUserName }}</p>
                </div>
            </div>
            <div *ngIf="!ticket?.date_due && newTicket" class="ticket-due-date">
                <input formControlName="date" matInput [matDatepicker]="picker" placeholder="Choose a due date" />
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </div>
            <div *ngIf="ticket?.date_due" class="ticket-due-date">
                <p>Deadline</p>
                <p>{{ ticket.date_due | date: 'short' }}</p>
            </div>
        </div>

        <div class="ticket-buttons">
            <button (click)="close(0, undefined)">Close</button>
            <button *ngIf="!newTicket" (click)="delete()">Delete</button>
            <button *ngIf="newTicket" (click)="addTicket()">Add Ticket</button>
        </div>
    </form>
</div>
