<div class="board-selection-box">
    <h2>Select Board</h2>
    <div *ngFor="let board of boards" class="board-item">
        <div class="board-item-inner" (click)="selectBoard(board)">
            <img src="assets/home/table.svg" />
            <p>{{ board?.name }}</p>
        </div>
        <div *ngIf="board.owner_id === this.auth.userId" class="board-delete" (click)="deleteBoard(board)">
            <img src="assets/home/delete.svg" />
        </div>
    </div>
    <div class="board-item create" (click)="openCreateBoardDialog()">
        <div class="board-item-inner">
            <img src="assets/column/add.svg" />
            <p>Create New</p>
        </div>
    </div>
</div>
