<div
    class="column-comp"
    cdkDropList
    [cdkDropListData]="column?.tickets"
    (cdkDropListDropped)="drop($event)"
>
    <div class="column-title">
        <p>{{ column?.name }}</p>
        <img (click)="addTicket()" src="assets/column/add.svg" />
    </div>
    <div class="column-tickets">
        <app-ticket
            cdkDrag
            *ngFor="let ticket of column?.tickets"
            [ticket]="ticket"
            (deleteTicket)="deleteTicket($event)"
        ></app-ticket>
    </div>
</div>
