.user-selection-box {
    width: 400px;

    padding: 20px;

    .user-item {
        cursor: pointer;
        margin: 7px 0;
        padding: 0;
        background: #c4c4c4;
        border-radius: 4px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        display: flex;
        justify-content: space-between;
        .user-item-inner {
            padding: 5px 15px;
            width: 80%;
            display: flex;
            justify-content: space-between;
        }
        .user-delete {
            display: flex;
            justify-content: center;
            background: #e32249;
            width: 0;
            overflow: hidden;
            transition: width 0.3s ease;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
        }
    }
    .user-item:hover {
        .user-delete {
            width: 35px;
        }
    }

    .user-item.create {
        background: #434343;
        color: white;
    }
}
