<div class="home-page">
    <div class="home-footer">
        <div class="project-links">
            <img src="assets/home/github.svg" />
            <img src="assets/home/figma.svg" />
            <img src="assets/home/slack.svg" />
            <img src="assets/home/web.svg" />
        </div>

        <div class="project-title" (click)="openSelectBoardDialog()">
            <h2>{{ this.board?.name }}</h2>
        </div>

        <div class="project-settings">
            <img src="assets/home/notification.svg" />
            <img src="assets/home/profile.svg" (click)="logOut()" />
            <img src="assets/home/settings.svg" (click)="editColumns()" />
        </div>
    </div>

    <div class="home-board" cdkDropListGroup>
        <app-column *ngFor="let column of board?.columnList" [column]="column" [edit]="editMode" (delete)="deleteColumn($event)"></app-column>
        <div class="column-create" (click)="createColumnDialog()">
            <img src="assets/column/add-black.svg" />
        </div>
    </div>
</div>
