/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    letter-spacing: 1px;
}

html,
body {
    height: 100%;
}

.mat-dialog-container {
    padding: 0 !important;
    border-radius: 6px !important;
}

input,
textarea {
    letter-spacing: 1px;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    padding: 0 20px;
}

button {
    background: #434343;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    font-size: 20px;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #434343;
}

button:active {
    box-shadow: inset -2px -2px 3px #a8a8a8;
}
