.ticket-comp {
    height: 90px;
    background: #71a1ea;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    padding: 6% 8%;
}

.ticket-title {
    color: #434343;

    h3 {
        font-size: 1.2em;
        margin: 0;
    }

    p {
        margin: 4% 0;
    }
}

.ticket-icons {
    display: flex;
    vertical-align: middle;
    width: 80%;
    overflow: hidden;

    img {
        margin: 0 14px 0 0;
    }
}

.ticket-comp:hover {
    box-shadow: 0 6px 6px -3px rgba(0, 0, 0, 0.2),
        0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
